<h1>Destinations</h1>

<% if @current_user.present? %>

    <button class="dest_button">
      <%= link_to "Add Destination", new_destination_path %>
    </button>

    <p id="welcome">
      Welcome back user <%= @current_user.email %>
    </p>

<% end %>

<% @destinations.each do |destination| %>
  <div class="zoom">
    <%= link_to (image_tag destination.image), destination %>
    <div class='middle'>
      <div class='text'><%= destination.name %></div>
    </div>
  </div>
<% end %>
