<h1>Destinations</h1>

<% if @current_user.present? %>

    <nav>
      <%= link_to "Add Destination", new_destination_path %>
    </nav>
    
    <p>
      Welcome back user <%= @current_user.email %>
    </p>

<% end %>

<% @destinations.each do |destination| %>
  <div>
    <%= link_to (image_tag destination.image), destination %>
  </div>
<% end %>
