// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  max-width: 960px;
  margin: 0 auto;
  background-image: radial-gradient(circle, rgb(241, 241, 95), rgb(241, 144, 95));

  // background-image: url(https://images.theconversation.com/files/223734/original/file-20180619-126546-bu45x8.jpg);
}

img {
  width: -webkit-fill-available;
  height: 330px;
  border-radius: 5px;
}

div {
  position: relative;
  // padding-bottom: 10px;

}

a{
  padding-right: 30px;
}

.dest_button{
  border-radius: 8px;
  text-align: center;
  background-color: rgb(246, 165, 125);
}

#welcome{
  text-align: right;
}

footer{
  text-align: center;
  opacity: 0.8;
}
.zoom{
  padding-bottom: 10px;
  position:relative;
  transition: transform .6s;
}

.zoom:hover{
  transform: scale(1.05);
}

.middle{
  position: absolute;
  bottom: 73%;
  // left: 100%;
  opacity: 0;
  transition: .5s ease;
  left: 10px;
}

.text{
  color: white;
  font-size: 40px;
  text-align: right;
}

.zoom:hover .middle{
  opacity: 1;
}
